@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Sora:wght@100..800&display=swap');

html,
body,
#root {
  background-color: #121212;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}